<div id="container">

    <div id="uneaten">
        {{#each uneaten}}
                <p>{{this.burger_name}}</p>
        {{/each}}
    </div>
    <div id="eaten">
        {{#each devoured}}
            <p>{{this.burger_name}}</p>
        {{/each}}
    </div>

</div>
